body  {
    /* background-image: url("http://www.tokkoro.com/picsup/1490076-star-wars-episode-vii-the-force-awakens.jpg"); */
    background-image: url("http://www.backgroundsy.com/file/large/pink-squares-background.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
} 

.back-layer {
    background-color: yellow;
    height: 90vh;
    width: 90vh;
    margin: 10%;
}

.vs-header {
    padding-top: 2rem;
    font-size: 3rem;
    font-family: 'Courgette', cursive;
}

.vs-btn-start {
    background-color: pink;
    border-color: blue;
    width: 20rem;
    height: 3rem;
    /* position: relative; */
    /* top: 50%; */
}

.vs-btn-wrapper {
    width: 100%;
    /* height: 500px; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

.vs-table-borderless tbody td,
.vs-table-borderless thead th {
    border: 0;
}

.table-hover tbody tr:hover td {
    background-color: pink;
    border-color: blue;
  }

  .vs-table-header-row {
    font-family: 'Fredoka One', cursive;
  }

  .vs-table-data-row {
    font-family: 'Cabin Condensed', sans-serif;
  }